/* @author Angela Gross */

/* ================================================================================================================================= */

/* Imported CSS */
@import url("./bootstrap.min.css");
@import url("./font-awesome.min.css");
@import url("./jquery.sidecart.css");

/* Poiret One font family */
@font-face 
{
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PoiretOne-Regular.ttf');
}

/* ================================================================================================================================= */

/* General Content */
/* ------------------------------- */

body { font-family: 'Source Sans Pro', sans-serif; background-color: #F2F2F2; }

.buffer { margin-top: 51px; }

ul, ol { list-style-type: square; }

.margin-bottom { margin-bottom: 10px; }

.no-padding { padding:0px; }

/* Make sure the FontAwesome font family isn't being overwritten */
.fa { font-family: 'FontAwesome' !important; }

/* ================================================================================================================================= */

/* Navigation */
/* ------------------------------- */

.navbar-brand 
{ 
    padding: 10px 15px;
    border-bottom-width: 10px;
    margin-bottom: 2px;
    margin-left: 0px!important;
}

.navbar-default { background-color: #EA1313; border-color: #B30202; font-size: 1.5em; font-family: "Poiret One"; }

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus
{
    color: #ffffff;
    background-color: #B30202;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus
{
    color: #ffffff;
    background-color: #B30202;
}

.navbar-toggle { margin-left: 20px; }

.navbar-collapse.navbar-right.collapse.in { margin-top: 0px; }

.navbar .divider-vertical 
{
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #B30202;
    border-left: 1px solid #B30202;
}

.navbar-inverse .divider-vertical 
{
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) 
{
    .navbar-collapse .nav > .divider-vertical { display: none; }
    .navbar-collapse.navbar-right.collapse.in { margin-top: 100px; }
}

/* ================================================================================================================================= */

/* Icons */
/* ------------------------------- */

/* Reduced Home Icon */
.icon-home
{
    background: url('../img/broken-heart-icon.png') 0 0 no-repeat;
    background-size:40px 40px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    vertical-align: middle;
    margin-top: -4px;
}

/* ================================================================================================================================= */

/* Color Panels */
/* ------------------------------- */

.container-fluid > section > .panel { width: 95%; }
.container-fluid { width: 100%; padding: 0; }

.panel-body { padding: 20px; }
.big-panel { min-height:300px!important; }
.panel { margin-bottom: 0; }
.promo-panel .panel-title { font-size: 3em; }
.promo-panel p { font-size: 1.5em; }

.color-panel { display:flex;justify-content:center;align-items:center; padding: 50px 100px; }
.color-panel.dark-green-panel { background-color: #369A41; }
.color-panel.med-green-panel { background-color: #81b33a; }
.color-panel.light-green-panel { background-color: #57EC67; }
.color-panel.white-panel { background-color: #FFFFFF; }

/* ================================================================================================================================= */

/* Forms and Input */
/* ------------------------------- */

/* Input and validation styles */
.focus-input { background-color: #EEF6FF; }
.has-error input { background-color: #F6D3D3; }
.has-success input { background-color: #D4F5D3; }

#sell-list-form input, #sell-list-form select { width:100%; }

.no-display { display: none; }

#img-preview { max-width: 100px; }

/* ================================================================================================================================= */

/* Images */

.wrapper
{
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: currentcolor;
}

.img-container { padding:0 15px; }

img.grayscale
{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}

/* ================================================================================================================================= */

/* Special ordered listing with big circles next to list items as bullets */

ol.big-circle-list 
{
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
    font-size: 1.5em;
}

ol.big-circle-list > li 
{
    position:relative; /* Create a positioning context */
    margin:0 20px 85px 5em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    padding-top: 70px;
    padding-left: 30px;
    list-style:none; /* Disable the normal item numbering */
    border-top:2px dotted #F1EEEE;
}

ol.big-circle-list > li:before 
{
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:30px;
    left:-5em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width: 5em;
    height: 5em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    padding: 40px;
    border: 2px solid #FF0000;
    color: #FF0000;
    background: #FFF;
    font-weight:bold;
    font-family:"Poiret One", Arial, sans-serif;
    text-align:center;
    -moz-border-radius: 999px;
    border-radius: 999px
}

li ol.big-circle-list, li ul.big-circle-list {margin-top:6px;}
ol.big-circle-list ol.big-circle-list li:last-child {margin-bottom:0;}

/* ================================================================================================================================= */

/* Products */

.product
{
    background-color: #FFFFFF; 
    background: no-repeat;
    background-size:cover;
    background-image: url("") ;
    min-height: 265px;
    min-width: 265px;
    border: 1px solid white;
    padding: 0px;
}

.product>.border
{
    border: 1px dotted #CACACA;
    min-height: 265px;
    min-width: 265px;
}

.product>.border>.desc
{
    font-size: 1.1em;
    font-family: 'Poiret One';
    background-color: #000;
    color: #FFF;
    min-height: 265px;
    min-width: 265px;
    padding: 10px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    display:none;
}

.product>.border>.desc h3.product-name 
{
    background-color: #444;
    color: #FFF;
    font-family: 'Poiret One'; 
    display:block;
    padding: 10px;
    font-weight: 600;
    font-size: 1.4em;
}

.product>.border>.desc .product-price
{
    border-top: 1px dotted #444;
    position: absolute;
    bottom: 0;
    right:0;
    display:block;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.product>.border>.desc .product-condition
{
    display:block;
    background-color: #222;
}

.product>.border>.desc .product-info
{
    display:block;
    background-color: #111;
}

.product>.border>.desc .cd-add-item
{
    position: absolute;
    bottom: 0;
    right:0;
    padding: 5px;
}

.product>.border>.desc .cd-add-item:hover
{
    cursor: pointer;
}

/* ================================================================================================================================= */